# Node modules
node_modules/

# Build output
dist/

# Log files
*.log

# Local environment variables
.env.local
.env.*.local

# Misc
.DS_Store

# IDEs and editors
.vscode/

# PHP / API
api/vendor/
api/core/jwt_funtions/jwt_config.php